<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <variable name="logDir" value="${baseDir}/Logs/" />

  <targets>
    <target name="debug" xsi:type="File"
                          fileName="${logDir}/Debug.log"
                          layout="${date:format=dd-MM-yyyy_HHmmss} => ${level}: ${message} ${exception:format=tostring}"
                          archiveFileName="${logDir}/archives/Debug.${shortdate}.{#}.log"
                          archiveAboveSize="10240000"
                          archiveEvery="Day"
                          archiveNumbering = "Rolling"
                          maxArchiveFiles="7" />

    <target name="authmgr" xsi:type="File"
                  fileName="${logDir}/Auth.log"
                  layout="${date:format=dd-MM-yyyy_HHmmss} => ${level}: ${message}"
                  archiveFileName="${logDir}/archives/Auth.${shortdate}.{#}.log"
                  archiveAboveSize="10240000"
                  archiveEvery="Day"
                  archiveNumbering = "Rolling"
                  maxArchiveFiles="7" />

    <target name="normal" xsi:type="File"
                          fileName="${logDir}/SM.log"
                          layout="${date:format=dd-MM-yyyy_HHmmss} => ${level}: ${message}"
                          archiveFileName="${logDir}/archives/SM.${shortdate}.{#}.log"
                          archiveAboveSize="10240000"
                          archiveEvery="Day"
                          archiveNumbering = "Rolling"
                          maxArchiveFiles="7" />
  </targets>


  <rules>
    <logger name="Interworks.Cloud.ServiceManagersSDK.Libraries.*" minlevel="Debug" levels="Debug,Error,Fatal" writeTo="debug" final="true" />
    <logger name="Interworks.Cloud.ServiceManagersSDK.Libraries.Filters.AuthorizationAttribute.*" minlevel="Info" writeTo="authmgr" final="true" />
    
    <logger name="*" minlevel="Info" writeTo="normal" />
  </rules>

</nlog>