<?xml version="1.0"?>
<LogsConfig>

  <Config EnableLogging="True" LogSendReceive="true">
    <!-- ActionsStatus = IncludeAll/ExcludeAll/IncludeList/ExcludeList -->
	  
    <!-- Log All actions -->
    <Controller LogInput = "true" LogOutput="true" ActionsStatus="IncludeAll"/>
    
    <!-- Disable Logging of all actions -->
    <!-- <Controller LogInput = "true" LogOutput="true" ActionsStatus="ExcludeAll"/> -->

    <!-- Log only the actions referenced to the provided methods list overrided from ServiceManagerBaseController -->
    <!-- <Controller LogInput = "true" LogOutput="true" ActionsStatus="IncludeList">
            <add Action = "AccountsExists" />
          </Controller> -->
    
    <!-- Log all the actions except the ones referenced to the provided methods list overrided from ServiceManagerBaseController -->
    <!-- <Controller LogInput = "true" LogOutput="true" ActionsStatus="ExcludeList">
            <add Action = "AccountsExists" />
          </Controller> -->
	  
  </Config>

</LogsConfig>
