<?xml version="1.0"?>
<LogsConfig>

  <Config EnableLogging="True" LogSendReceive="true">
    <!-- 
		  ActionsStatus = IncludeAll/ExcludeAll/IncludeList/ExcludeList
		-->
    <Controller LogInput = "true" LogOutput="true" ActionsStatus="IncludeList">
      <add Action = "AssetsCreate" />
    </Controller>

  </Config>

</LogsConfig>
